/* ---------------- LIGHT VERSION = DARK VERSION ---------------- */
/* ALL ELEMENTS STYLE */
body {
    color: white;
    font-family: Arial;
}
/* CONTENT STYLE  */
a {
    color:white;
}
.con1 {
    position: relative;
}
.con1 {
    padding: 4em; 
    margin: 0;
    background: green;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.con2 {
    margin-top: 5em;
}